.container .new-tweet{

  background-color: #eee;

  height: 160px;
  margin: 2em;
  border: 2px solid;
  border-radius: 5px;
}

.new-tweet textarea{

  position: relative;
  width: 360px;
  height: 70px;
  left: 10px;
  padding-left: 5px;
  max-width: 360px;
  max-height: 70px;
  min-height: 70px;
  min-width: 360px;

}

.new-tweet .counter{

  position: relative;
  left: 290px;

}

.new-tweet input{

  position: relative;
  left: 10px;

}

.new-tweet h2{

  border-bottom: 1px solid;
  margin: 10px;

}


.tweet .tweet-logo{

  float:left;
  height: 50px;
  width: 50px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #eee;

}
.tweet header{

  height: 60px;
  background-color: #eee;
  padding-left: 10px;
  padding-top: 5px;
}

.tweet p{

  padding-left: 10px;
  text-align: left;

}

.tweet #thebody {

  position: relative;
  height: 70px;
  background-color: white;
  opacity: 1.0;

}

 #screen-name{

  position:relative;
  bottom: 15px;
  left: 10px;

}


#user{

  position: relative;
  text-align: right;
  padding-right: 10px;
  bottom: 50px;

}

.tweet footer{

  position: relative;
  height: 50px;
  border-top: 1px solid #eee;

}

.tweet footer p{

  position: relative;
  bottom: 5px;
  font-size: 80%;

}

.svg-inline--fa.fa-heart.fa-w-16 {

  position: relative;
  float: right;
  bottom: 32px;
  right: 10px;
  opacity: 0;

}

.svg-inline--fa.fa-flag.fa-w-16{

  position: relative;
  float: right;
  bottom: 32px;
  right: 43px;
  opacity: 0;

}

.svg-inline--fa.fa-retweet.fa-w-20{

  position: relative;
  float: right;
  bottom: 32px;
  right: 0px;
  opacity: 0;

}

.tweet {

  margin: auto;
  width: 384px;
  height: 200px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}

.tweet header {
  opacity: 0.6;
}

.tweet:hover .svg-inline--fa.fa-heart.fa-w-16 {
  opacity: 1.0;
}

.tweet:hover .svg-inline--fa.fa-flag.fa-w-16 {
  opacity: 1.0;
}

.tweet:hover .svg-inline--fa.fa-retweet.fa-w-20 {
  opacity: 1.0;
}

.tweet:hover {
  opacity: 1.0;
  border: 2px solid black;
}

.tweet:hover header{
  opacity: 1.0;
}